services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
      
    restart: unless-stopped

  websocket:
    build: ./websocket
    ports:
      - "3002:3002"
    volumes:
      - ./websocket:/app
      - /app/node_modules
    environment:
      - WS_PORT=3002
      - WS_PATH=/ws
      - WS_IDLE_TIMEOUT=120
      - NODE_ENV=development
    command: bun run dev
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
      - NEXT_PUBLIC_API_URL=http://localhost:3001
      - NEXT_PUBLIC_RESIDENT_LIFF_ID=2008071362-Eqg9y1Qa
      - NEXT_PUBLIC_GUARD_LIFF_ID=2008071362-kOm2J3jx
      - NEXT_PUBLIC_LIFF_ID=2008071362-Eqg9y1Qa
    depends_on:
      - backend
    restart: unless-stopped


  caddy:
    image: caddy:alpine
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - frontend
      - backend
    restart: unless-stopped

  db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: SOFEWARE_EN
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: unless-stopped

  ngrok:
    build:
      context: .
      dockerfile: Dockerfile.ngrok
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    depends_on:
      - caddy
    restart: unless-stopped

  # pgadmin:
  #   image: dpage/pgadmin4
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@cmu.ac.th
  #     PGADMIN_DEFAULT_PASSWORD: cmupassword
  #   ports:
  #     - "5050:80"
  #   depends_on:
  #     - db
  #   volumes:
  #     - pgadmin-data:/var/lib/pgadmin
  #   restart: unless-stopped

volumes:
  dbdata:
#   pgadmin-data: