services:
  db:
    image: postgres:18-alpine    
    environment:
      POSTGRES_USER: vill-admin
      POSTGRES_PASSWORD: adminVillage1234
      POSTGRES_DB: village-security
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - default

volumes:
  dbdata:

networks:
  default:
    name: village_net
    driver: bridge
