services:
  db:
    image: postgres:18-alpine    
    environment:
      POSTGRES_USER: vill-admin
      POSTGRES_PASSWORD: adminVillage1234
      POSTGRES_DB: village-security
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - default

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin123
    expose:
      - "9000"                  # API ภายใน
      - "9001"                  # Console ภายใน
    volumes:
      - minio_data:/data
    restart: unless-stopped
    networks:
      - default

volumes:
  dbdata:
  minio_data:

networks:
  default:
    external: true
    name: village_net
