.container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background: #4fa3f2;
  position: relative;
  overflow: hidden;
}

.welcome {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 2px;
  z-index: 10;
}

.loginGroupWrapper {
  position: absolute;
  left: 50%;
  bottom: -350;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  max-width: 450px;
  z-index: 5;
}

.triangle {
  width: 100%;
  height: 120px;
  background-color: #fff;
  clip-path: polygon(
    20px 100%,
    50% 0%,
    calc(100% - 20px) 100%,
    100% 100%,
    0% 100%
  );
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}

.triangle h2 {
  color: #253050;
  margin: 0 0 15px 0;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.bgSquare {
  width: 100%;
  min-height: 340px;
  background: #fff;
  border-radius: 22px 22px 22px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 8px 32px 2px rgba(0,0,0,0.11);
  opacity: 0;
  position: relative;
  z-index: 1;
}

.loginBox {
  margin-top: 32px;
  width: 85%;
  max-width: 350px;
  opacity: 0;
  transition: opacity 0.2s;
}

/*Form*/
.inputGroup {
  margin-bottom: 0.8rem;
}
.labelstrong {
  font-weight: bold;
  color: #253050;
}
.inputError {
  border: 1.5px solid #ef4b6c !important;
}
.inputMessage {
  color: #ef4b6c;
  font-size: 0.9rem;
}

.loginButton {
  width: 100%;
  background: #253050;
  color: #fff;
  border-radius: 12px;
  font-size: 1.1rem;
  padding: 0.8em 0;
  box-shadow: 0px 6px 24px 1px rgba(50,56,168,0.09);
  font-weight: 600;
}

.footerText {
  margin-top: 2.5em;
  text-align: center;
  color: #aaa;
  font-size: 0.97em;
}

@media (max-width: 500px) {
  .loginGroupWrapper, .triangle, .bgSquare {
    max-width: 97vw;
    width: 97vw;
  }
  .loginBox {
    width: 97%;
    max-width: 97vw;
  }
}