.c {
  background-color: #4F6AF0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  overflow: hidden;
}

.hexagon {
  width: 100px;
  height: 55px;
  background-color: white;
  position: relative;
}

.hexagon:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid white;
  top: -25px;
}

.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid white;
  bottom: -25px;
}